{% extends "itpecbase.html" %}
{{ quizmodel }}
{% load crispy_forms_tags %}
{% load submitted_tags %}

{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

{% block content %}
<style>
  #main-container {
    margin-top: 70px;
  }
  #sidewidget {
    margin-top: 24px;
  }
</style>

<!-- Page content-->
<div class="container" id="main-container">



  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured blog post-->
      <form method="post" action="{{qform.helper.form_action}}" class="crispy">
        {% csrf_token %}
 

        {% for field in qform.visible_fields %}
        {% if field.widget_type == "radioselect" %}

        <div class="card mb-4 mt-4">
          <!-- <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a> -->


          <div class="card-body">
            <p class="card-text">
              <img src="https://raw.githubusercontent.com/atn123-gh/itpec_image/0dc70315d67cede9e9bed7423bc12726cbfc86d6/IP_FE_QImg_V1/{{ QImgPath }}{{field.html_name}}.png" loading="lazy" 
                class="img-fluid" alt="{{ field.html_name}}.png">
            </p>

          </div>


          {% if correct_answers %}
          {% iscorrect check_results field.html_name as correct_flag %}
          {% get_ans correct_answers field.html_name as correct_ans %}
          {% endif  %}
          
            <div class="card-header text-end border-5 border-start-5" 
            {% if correct_answers  %}

            {% if correct_flag %}
              style="background-color:#e9fbe9;border-color: #52e052;"
            {% else %}
              style="background-color:#f8e9eb;border-color: #dc7781;"
            {% endif  %}
            {% endif  %}

           >
{% comment %}
<!-- Link to trigger the modal -->
<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">See Explanation</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">

      <div class="modal-body text-start">
        <h2>Throughput Calculation for Information Processing System</h2>
  <p>An information processing system consists of a database and web server with the specifications shown in the table below:</p>
  <table border="1" cellpadding="5" cellspacing="0">
    <tr>
      <th>Server Type</th>
      <th>Upper Limit of CPU Utilization</th>
      <th>Transaction Processing Time required for a CPU (in milliseconds/transaction)</th>
    </tr>
    <tr>
      <td>Database</td>
      <td>80%</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Web</td>
      <td>90%</td>
      <td>4</td>
    </tr>
  </table>
  <p>When the throughput of an entire processing system is determined by the throughput of the server with the lowest throughput, the throughput of the entire processing system in TPS (transactions per second) is calculated.</p>
  <h3>Calculations:</h3>
  <p><strong>Database Server:</strong></p>
  <p>Transactions per second \(= \frac{1000 \, \text{ms}}{5 \, \text{ms/transaction}} = 200 \, \text{TPS}\)</p>
  <p>Throughput \(= \text{Transactions per second} \times \text{Upper limit of CPU utilization} = 200 \times 0.80 = 160\)</p>
  <p><strong>Web Server:</strong></p>
  <p>Transactions per second \(= \frac{1000 \, \text{ms}}{4 \, \text{ms/transaction}} = 250 \, \text{TPS}\)</p>
  <p>Throughput \(= \text{Transactions per second} \times \text{Upper limit of CPU utilization} = 250 \times 0.90 = 225\)</p>
  <p>The throughput of the entire processing system is determined by the server with the lower throughput, which is the <strong>database server with a throughput of 160 transactions per second (TPS).</strong></p>
  <p>Therefore, the throughput of the entire processing system is <strong>160 transactions per second (TPS)</strong>.</p>

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- You can add additional buttons if needed -->
      </div>
    </div>
  </div>
</div>
{% endcomment %}
            {% if correct_answers  %}
              <span class="text-success"> Correct answer: <b>{{ correct_ans }}</b> </span>
            {% endif  %}
              &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <label class="custom-control-label bookmarkLabel">
            <input type="checkbox" class="custom-control-input flagCheckbox" id="ck1b" style="display: none;">
            <i class="bi bi-bookmark-check-fill" style="font-size: 1.7rem; color: gray; "></i>
            </input>
            </label> -->

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

              {% for choice in field.field.choices %}
              <input type="radio" id="{{ field.auto_id }}_{{ forloop.counter0 }}" name="{{ field.html_name }}"
                value="{{ choice.0 }}" {% if field.value == choice.0 %}checked{% endif %} class="btn-check" autocomplete="off" 
                {% if field.field.widget.attrs.disabled %}
                disabled="disabled"
            {% endif %}
            >
              <label class="btn btn-outline-dark"  for="{{ field.auto_id }}_{{ forloop.counter0 }}">                
                &nbsp;{{ choice.1 }}&nbsp;</label>
              <!-- <label for="btnradio1">&nbsp;&nbsp;a&nbsp;&nbsp;</label> -->

              {% endfor %}

            </div>



            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


          </div>
        </div>
        {% endif %}

        {% endfor %}
        {% for hidden in qform.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        <!-- Pagination-->
        <!-- <nav aria-label="Pagination">
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
            <li class="page-item"><a class="page-link" href="#!">Previous</a></li>
          </ul>
        </nav> -->
        <style>

          .custom-button {
            /* Optional custom button styles */
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
          }
          .sticky-btn {
            position: sticky;
            bottom: 20px; /* Adjust as needed */
          }
        </style>
           <div class="sticky-btn d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Submit Answers">
          </div>
       


      </form>
    </div>

    <!-- Side widgets-->
    <div class="col-lg-4" id="sidewidget">
      <!-- Search widget-->

      <!-- <div class="card mb-4 mt-4 ">
        <div class="card-header ">Search</div>
        <div class="card-body ">
          <div class="input-group ">
            <input class="form-control " type="text " placeholder="Enter search term... "
              aria-label="Enter search term... " aria-describedby="button-search " />
            <button class="btn btn-primary " id="button-search " type="button ">Go!</button>
          </div>
        </div>
      </div> -->
      <!-- Categories widget-->

      <!-- <div class="card mb-4 ">
        
      </div> -->
      <!-- <div class="card mb-4 ">
        <div class="card-header ">Quiz navigation</div>
        <div class="card-text quiznav">
          <ol>
            <li class="">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
          </ol>
        </div>
      </div> -->

      <!-- <div class="card mb-4 ">
              <div class="card-header ">Quiz navigation</div>
              <div class="card-body ">
                  <div class="row ">
                      <div class="col-sm-6 ">
                          <ul class="list-unstyled mb-0 ">
                              <li><a href="#! ">Web Design</a></li>
                              <li><a href="#! ">HTML</a></li>
                              <li><a href="#! ">Freebies</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-6 ">
                          <ul class="list-unstyled mb-0 ">
                              <li><a href="#! ">JavaScript</a></li>
                              <li><a href="#! ">CSS</a></li>
                              <li><a href="#! ">Tutorials</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div> -->
      <!-- Side widget-->
      <!-- <div class="card mb-4 ">
              <div class="card-header ">Side Widget</div>
              <div class="card-body ">You can put anything you want inside of these side widgets. They are easy to
                  use, and feature the Bootstrap 5 card component!</div>
          </div> -->
      <style>
        .quiznav li {
          background-color: #fff;
          background-image: none;
          border: 1px solid #cfcfcf;
          cursor: pointer;
          float: left;
          list-style-type: none;
          margin: 1px 4px 4px 1px;
          padding: 1px 0;
          text-align: center;
          width: 30px;
        }
      </style>

    </div>
  </div>
</div>
</div>
<!-- Footer-->
<!-- <footer class=" py-5 bg-dark ">
  <div class="container ">
    <p class="m-0 text-center text-white ">Copyright &copy; Your Website 2022</p>
  </div>
</footer> -->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "></script>
<!-- Core theme JS-->
<!-- <script src="js/scripts.js "></script> -->






<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>



  <script type="text/javascript">


  $(document).ready(function () {
    $('input[type="radio"]').click(function () {
      var questionNo = parseInt($(this).attr('name').substring(1));
      var choice = $(this).attr('value')
      console.log(questionNo);
      set_answers(questionNo, choice);
    });

  });
  function set_answers(no, value) {
    var answersArr = $('#id_stud_answers_hidden').val().split("");
    answersArr[no - 1] = value;
    $('#id_stud_answers_hidden').val(answersArr.join(""));
    console.log(answersArr.join(""))

  }

  function get_answers(answers, no) {
    return answers[no - 1];
  }

</script>























































{% endblock %}


